body {
  background-color: #242424;
  padding-top: 200px;
  overflow-x: hidden; }
  body .box {
    border: 1px solid #fff;
    width: 200px;
    height: 50px;
    background-color: #e61c01;
    margin-bottom: 10px; }
  body section {
    width: 100vw;
    height: 100vh;
    color: #fff; }
  body .section_04 {
    background-color: #a4a4a4; }
  body .section_05 {
    background-image: url("https://placem.at/people");
    background-size: cover; }
    body .section_05 .animation_010 {
      position: relative;
      top: 100px;
      left: 400px; }
    body .section_05 .animation_011 {
      position: relative;
      top: 400px;
      left: 200px; }
    body .section_05 .animation_012 {
      position: relative;
      top: 500px;
      left: 500px; }
  body .section_06 {
    overflow: hidden; }
    body .section_06 .bg_all {
      width: 100%;
      height: 100vh;
      background-image: url("https://placem.at/places");
      background-color: #000;
      background-size: cover;
      transform-origin: center;
      transform: scale(1.8);
      transition: transform 3s ease-out;
      will-change: transform; }
      body .section_06 .bg_all.bgc {
        transform: scale(1.1); }
  body .section_08 {
    background-color: #028df7; }
  body .section_09 .scrollbg .bg {
    width: 100vw;
    height: 100vh;
    position: absolute; }
  body .section_09 .scrollbg .bg-01 {
    background-color: #0dfe00; }
  body .section_09 .scrollbg .bg-02 {
    background-color: #00b3ff; }
  body .section_09 .scrollbg .bg-03 {
    background-color: #ff00d9; }
