.logo-nav {
  width: 100px;
  height: 30px;
  background-image: url("img/bot.jpg");
}

body {
  color: #e1ffc3;
  background-color: #e4e4e4;
  margin: 10px;
}

body .wrapper {
  width: 1200px;
  background-color: #333;
  margin-left: auto;
  margin-right: auto;
}

body .wrapper .content {
  margin-left: auto;
  margin-right: auto;
}

body .wrapper .box-margin {
  margin-left: 50px;
  margin-right: 50px;
  width: 400px;
  height: 500px;
  background-color: #fff;
}

body .wrapper .box-base {
  margin-left: 60px;
  margin-right: 40px;
}

body .wrapper .box-null {
  margin-left: 100px;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.wrapper {
  width: 1200px;
  height: 768px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
}

.box-cal {
  width: 40px;
  height: 10px;
  margin: 200px;
  padding: 3.33333px;
  font: 12px / 18px;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 56px;
}

h4 {
  font-size: 40px;
}

h5 {
  font-size: 24px;
}

.width {
  width: 100px;
  height: 100px;
  color: #666666;
}

.box_1 {
  width: 1px;
}

.box_2 {
  width: 2px;
}

.box_3 {
  width: 3px;
}

.box_4 {
  width: 4px;
}

.box_5 {
  width: 5px;
}

.box_6 {
  width: 6px;
}

.box_7 {
  width: 7px;
}

.box_8 {
  width: 8px;
}

.box_9 {
  width: 9px;
}

.box_10 {
  width: 10px;
}

.margintop-1 {
  margin-top: 1px;
}

.margintop-2 {
  margin-top: 2px;
}

.margintop-3 {
  margin-top: 3px;
}

.margintop-4 {
  margin-top: 4px;
}

.margintop-5 {
  margin-top: 5px;
}

.margintop-6 {
  margin-top: 6px;
}

.margintop-7 {
  margin-top: 7px;
}

.margintop-8 {
  margin-top: 8px;
}

.margintop-9 {
  margin-top: 9px;
}

.margintop-10 {
  margin-top: 10px;
}

.margintop-11 {
  margin-top: 11px;
}

.margintop-12 {
  margin-top: 12px;
}

.margintop-13 {
  margin-top: 13px;
}

.margintop-14 {
  margin-top: 14px;
}

.margintop-15 {
  margin-top: 15px;
}

.margintop-16 {
  margin-top: 16px;
}

.margintop-17 {
  margin-top: 17px;
}

.margintop-18 {
  margin-top: 18px;
}

.margintop-19 {
  margin-top: 19px;
}

.margintop-20 {
  margin-top: 20px;
}

.margintop-21 {
  margin-top: 21px;
}

.margintop-22 {
  margin-top: 22px;
}

.margintop-23 {
  margin-top: 23px;
}

.margintop-24 {
  margin-top: 24px;
}

.margintop-25 {
  margin-top: 25px;
}

.margintop-26 {
  margin-top: 26px;
}

.margintop-27 {
  margin-top: 27px;
}

.margintop-28 {
  margin-top: 28px;
}

.margintop-29 {
  margin-top: 29px;
}

.margintop-30 {
  margin-top: 30px;
}

.margintop-31 {
  margin-top: 31px;
}

.margintop-32 {
  margin-top: 32px;
}

.margintop-33 {
  margin-top: 33px;
}

.margintop-34 {
  margin-top: 34px;
}

.margintop-35 {
  margin-top: 35px;
}

.margintop-36 {
  margin-top: 36px;
}

.margintop-37 {
  margin-top: 37px;
}

.margintop-38 {
  margin-top: 38px;
}

.margintop-39 {
  margin-top: 39px;
}

.margintop-40 {
  margin-top: 40px;
}

.margintop-41 {
  margin-top: 41px;
}

.margintop-42 {
  margin-top: 42px;
}

.margintop-43 {
  margin-top: 43px;
}

.margintop-44 {
  margin-top: 44px;
}

.margintop-45 {
  margin-top: 45px;
}

.margintop-46 {
  margin-top: 46px;
}

.margintop-47 {
  margin-top: 47px;
}

.margintop-48 {
  margin-top: 48px;
}

.margintop-49 {
  margin-top: 49px;
}

.margintop-50 {
  margin-top: 50px;
}

.margintop-51 {
  margin-top: 51px;
}

.margintop-52 {
  margin-top: 52px;
}

.margintop-53 {
  margin-top: 53px;
}

.margintop-54 {
  margin-top: 54px;
}

.margintop-55 {
  margin-top: 55px;
}

.margintop-56 {
  margin-top: 56px;
}

.margintop-57 {
  margin-top: 57px;
}

.margintop-58 {
  margin-top: 58px;
}

.margintop-59 {
  margin-top: 59px;
}

.margintop-60 {
  margin-top: 60px;
}

.margintop-61 {
  margin-top: 61px;
}

.margintop-62 {
  margin-top: 62px;
}

.margintop-63 {
  margin-top: 63px;
}

.margintop-64 {
  margin-top: 64px;
}

.margintop-65 {
  margin-top: 65px;
}

.margintop-66 {
  margin-top: 66px;
}

.margintop-67 {
  margin-top: 67px;
}

.margintop-68 {
  margin-top: 68px;
}

.margintop-69 {
  margin-top: 69px;
}

.margintop-70 {
  margin-top: 70px;
}

.margintop-71 {
  margin-top: 71px;
}

.margintop-72 {
  margin-top: 72px;
}

.margintop-73 {
  margin-top: 73px;
}

.margintop-74 {
  margin-top: 74px;
}

.margintop-75 {
  margin-top: 75px;
}

.margintop-76 {
  margin-top: 76px;
}

.margintop-77 {
  margin-top: 77px;
}

.margintop-78 {
  margin-top: 78px;
}

.margintop-79 {
  margin-top: 79px;
}

.margintop-80 {
  margin-top: 80px;
}

.margintop-81 {
  margin-top: 81px;
}

.margintop-82 {
  margin-top: 82px;
}

.margintop-83 {
  margin-top: 83px;
}

.margintop-84 {
  margin-top: 84px;
}

.margintop-85 {
  margin-top: 85px;
}

.margintop-86 {
  margin-top: 86px;
}

.margintop-87 {
  margin-top: 87px;
}

.margintop-88 {
  margin-top: 88px;
}

.margintop-89 {
  margin-top: 89px;
}

.margintop-90 {
  margin-top: 90px;
}

.margintop-91 {
  margin-top: 91px;
}

.margintop-92 {
  margin-top: 92px;
}

.margintop-93 {
  margin-top: 93px;
}

.margintop-94 {
  margin-top: 94px;
}

.margintop-95 {
  margin-top: 95px;
}

.margintop-96 {
  margin-top: 96px;
}

.margintop-97 {
  margin-top: 97px;
}

.margintop-98 {
  margin-top: 98px;
}

.margintop-99 {
  margin-top: 99px;
}

.margintop-100 {
  margin-top: 100px;
}

.marginleft-1 {
  margin-left: 1px;
}

.marginleft-2 {
  margin-left: 2px;
}

.marginleft-3 {
  margin-left: 3px;
}

.marginleft-4 {
  margin-left: 4px;
}

.marginleft-5 {
  margin-left: 5px;
}

.marginleft-6 {
  margin-left: 6px;
}

.marginleft-7 {
  margin-left: 7px;
}

.marginleft-8 {
  margin-left: 8px;
}

.marginleft-9 {
  margin-left: 9px;
}

.marginleft-10 {
  margin-left: 10px;
}

.marginleft-11 {
  margin-left: 11px;
}

.marginleft-12 {
  margin-left: 12px;
}

.marginleft-13 {
  margin-left: 13px;
}

.marginleft-14 {
  margin-left: 14px;
}

.marginleft-15 {
  margin-left: 15px;
}

.marginleft-16 {
  margin-left: 16px;
}

.marginleft-17 {
  margin-left: 17px;
}

.marginleft-18 {
  margin-left: 18px;
}

.marginleft-19 {
  margin-left: 19px;
}

.marginleft-20 {
  margin-left: 20px;
}

.marginleft-21 {
  margin-left: 21px;
}

.marginleft-22 {
  margin-left: 22px;
}

.marginleft-23 {
  margin-left: 23px;
}

.marginleft-24 {
  margin-left: 24px;
}

.marginleft-25 {
  margin-left: 25px;
}

.marginleft-26 {
  margin-left: 26px;
}

.marginleft-27 {
  margin-left: 27px;
}

.marginleft-28 {
  margin-left: 28px;
}

.marginleft-29 {
  margin-left: 29px;
}

.marginleft-30 {
  margin-left: 30px;
}

.marginleft-31 {
  margin-left: 31px;
}

.marginleft-32 {
  margin-left: 32px;
}

.marginleft-33 {
  margin-left: 33px;
}

.marginleft-34 {
  margin-left: 34px;
}

.marginleft-35 {
  margin-left: 35px;
}

.marginleft-36 {
  margin-left: 36px;
}

.marginleft-37 {
  margin-left: 37px;
}

.marginleft-38 {
  margin-left: 38px;
}

.marginleft-39 {
  margin-left: 39px;
}

.marginleft-40 {
  margin-left: 40px;
}

.marginleft-41 {
  margin-left: 41px;
}

.marginleft-42 {
  margin-left: 42px;
}

.marginleft-43 {
  margin-left: 43px;
}

.marginleft-44 {
  margin-left: 44px;
}

.marginleft-45 {
  margin-left: 45px;
}

.marginleft-46 {
  margin-left: 46px;
}

.marginleft-47 {
  margin-left: 47px;
}

.marginleft-48 {
  margin-left: 48px;
}

.marginleft-49 {
  margin-left: 49px;
}

.marginleft-50 {
  margin-left: 50px;
}

.marginleft-51 {
  margin-left: 51px;
}

.marginleft-52 {
  margin-left: 52px;
}

.marginleft-53 {
  margin-left: 53px;
}

.marginleft-54 {
  margin-left: 54px;
}

.marginleft-55 {
  margin-left: 55px;
}

.marginleft-56 {
  margin-left: 56px;
}

.marginleft-57 {
  margin-left: 57px;
}

.marginleft-58 {
  margin-left: 58px;
}

.marginleft-59 {
  margin-left: 59px;
}

.marginleft-60 {
  margin-left: 60px;
}

.marginleft-61 {
  margin-left: 61px;
}

.marginleft-62 {
  margin-left: 62px;
}

.marginleft-63 {
  margin-left: 63px;
}

.marginleft-64 {
  margin-left: 64px;
}

.marginleft-65 {
  margin-left: 65px;
}

.marginleft-66 {
  margin-left: 66px;
}

.marginleft-67 {
  margin-left: 67px;
}

.marginleft-68 {
  margin-left: 68px;
}

.marginleft-69 {
  margin-left: 69px;
}

.marginleft-70 {
  margin-left: 70px;
}

.marginleft-71 {
  margin-left: 71px;
}

.marginleft-72 {
  margin-left: 72px;
}

.marginleft-73 {
  margin-left: 73px;
}

.marginleft-74 {
  margin-left: 74px;
}

.marginleft-75 {
  margin-left: 75px;
}

.marginleft-76 {
  margin-left: 76px;
}

.marginleft-77 {
  margin-left: 77px;
}

.marginleft-78 {
  margin-left: 78px;
}

.marginleft-79 {
  margin-left: 79px;
}

.marginleft-80 {
  margin-left: 80px;
}

.marginleft-81 {
  margin-left: 81px;
}

.marginleft-82 {
  margin-left: 82px;
}

.marginleft-83 {
  margin-left: 83px;
}

.marginleft-84 {
  margin-left: 84px;
}

.marginleft-85 {
  margin-left: 85px;
}

.marginleft-86 {
  margin-left: 86px;
}

.marginleft-87 {
  margin-left: 87px;
}

.marginleft-88 {
  margin-left: 88px;
}

.marginleft-89 {
  margin-left: 89px;
}

.marginleft-90 {
  margin-left: 90px;
}

.marginleft-91 {
  margin-left: 91px;
}

.marginleft-92 {
  margin-left: 92px;
}

.marginleft-93 {
  margin-left: 93px;
}

.marginleft-94 {
  margin-left: 94px;
}

.marginleft-95 {
  margin-left: 95px;
}

.marginleft-96 {
  margin-left: 96px;
}

.marginleft-97 {
  margin-left: 97px;
}

.marginleft-98 {
  margin-left: 98px;
}

.marginleft-99 {
  margin-left: 99px;
}

.marginleft-100 {
  margin-left: 100px;
}
/*# sourceMappingURL=style.css.map */