body {
  background-color: #242424;
  padding-top: 200px; }
  body .box {
    border: 1px solid #fff;
    width: 200px;
    height: 50px;
    background-color: #e61c01;
    margin-bottom: 10px; }
  body section {
    width: 100vw;
    height: 100vh;
    color: #fff; }
