@import "base/var";


body {
    .wrapper {
        color: $fontcolor;
        margin: 10px;
        padding-top: $padding-top;
        @import "module/header";
        @import "module/footer";
    }
}



// $font1: (
  
//    h1: 10px,
//    h2: 20px
// );

// $font2: (
//    h3:30px,
//    h4: 40px,
// );




// $allfont : map-merge($font1 , $font2 );


// .fonts {
//     margin: inspect($allfont);
// }