@import "var";
@import "mixin/rect";
@import "mixin/box-shadow";

@mixin margin-center() {
    margin-left: auto;
    margin-right: auto;
}

@mixin layout($style, $bgc, $w:null, $h:null) {
    @if $style==full {
        width: 100%;
        background-color: $bgc;
        height: $h;

    }

    @else {
        width: $w;
        background-color: $bgc;
        @include margin-center();
        height: $h;
    }
}







// @import "../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";


@mixin spec($classname, $width, $height, $img) {
    #{$classname} {
        width: $width;
        height: $height;
        background-image:url('img/#{$img}');
    }
}


@include spec('.logo-nav', 100px, 30px, 'bot.jpg');



body {
    color: $fontcolor;
    background-color: rgb(228, 228, 228);
    margin: 10px;

    .wrapper {

        @include layout(fixed, #333, 1200px);

        // @import "module/header";
        // @import "module/footer";
        //mixin


        .content {
            @include margin-center();
        }

        @mixin margin($left, $right, $width:100px, $height: 100px) {
            margin-left: $left;
            margin-right: $right;
            @include rect($width, $height)
        }

        .box-margin {
            @include margin(50px, 50px, 400px, 500px);
        }

        @mixin margin-base($left:40px, $right:40px) {
            margin-left: $left;
            margin-right: $right;
        }

        .box-base {
            @include margin-base(60px);
        }

        @mixin margin-null($left, $right:null) {
            margin-left: $left;
            margin-right: $right;
        }

        .box-null {
            @include margin-null(100px);
            @include border-shadow(0 2px 3px rgba(0, 0, 0, .1));
        }
    }
}


@mixin wrapper($width, $height) {
    .wrapper {
        width: $width;
        height: $height;
        @content;
    }
}

body {
    @include wrapper(1200px, 768px) {
        background-color: #fff;
        @include margin-center();
    }
}